body {
  padding: 2rem;
  background-color: rgb(241, 241, 241);
}

html {
  /* font-size: 8px; */
}

.island {
  max-width: 800px;
  margin: 0 auto;

  background-color: white;

  border-radius: 0.5rem;
}

.island__item {
  padding: 1rem;
}

.island__item + .island__item {
  border-top: 1px solid rgb(241, 241, 241);
}
