.widget {
  max-width: 320px;
  margin: 0 auto;

  border-radius: 0.5rem;
  overflow: hidden;
}

.widget-header {
  padding: 1rem;
  background-color: rgb(132, 174, 252);
  color: white;
}

.widget-body {

}

.widget-body__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid gray;

  padding: 0.5rem 1rem;
}

.description {
  text-transform: capitalize;
}
